* {
  box-sizing: border-box;
}

.achieve-background-wrapper {
  background-image: url("/images/fortniteorange.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.achieve-overall-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  padding-bottom: 5%;
}

.achieve-header {
  text-align: center;
  font-family: fortniteFont;
  font-size: 25px;
}

.achieve-title {
  font-family: fortniteFont;
  font-size: 45px;
}

.achievement-wrapper {
  columns: 3 auto;
 
}

/* --------------------- Achievements - Individual  --------------------- */

.achievement-ind-pic {
  border-right: 2px solid black;
  width: 40%;
  max-width: 40%;

}

.achievement-ind-wrapper {
  border: 2px solid black;
  font-family: fortniteFont;
  display: flex;
  break-inside: avoid-column;
}

.achievement-ind-pic-wrapper {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}

.achievement-ind-description {
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: fortniteFont;
  font-size: 25px;
}
/* --------------------- Fonts --------------------- */

@font-face {
  font-family: fortniteFont;
  src: url('../fonts/BurbankBigCondensed-Black.otf');
}