* {
  box-sizing: border-box;
}

/* --------------------- Headers and Main Wrappers --------------------- */

.challenges-box-wrapper {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.challenges-title {
  font-family: fortniteFont;
  font-size: 45px;
  text-align: center;
}

.challenges-stats {
  font-family: fortniteFont;
  text-align: center;
  font-size: 25px;
}

.weekly-header {
  background-color: grey;
  font-family: fortniteFont;
}

.weekly-challenges-wrapper {
  border: 2px solid black;
}

.weekly-title {
  text-align: center;
  font-family: fortniteFont;
  margin-top: 2%;
}
/* --------------------- Challenges - Individual --------------------- */
.challenge-description {
  border-radius: 5px;
  border: 2px solid black;
  font-family: fortniteFont;
  font-size: 20px;
  height: 250px;
  width: 200px;
  padding: 5px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  overflow: auto;
}

/* .progress, .xp-reward {
  display: flex;
} */

.progress-other {
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.title-other {
  margin: 0px;
  padding: 0px;
}

.name-other {
  text-align: center;
}

/* --------------------- Challenges - General --------------------- */

.challenge-row-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* --------------------- Fonts --------------------- */

@font-face {
  font-family: fortniteFont;
  src: url('../fonts/BurbankBigCondensed-Black.otf');
}