* {
  box-sizing: border-box;
}

.home-container {
  margin-left: 20%;
  margin-right: 20%;
}

/* --------------------- Fonts --------------------- */
@font-face {
  font-family: fortniteFont;
  src: url('../fonts/BurbankBigCondensed-Black.otf');
}

/* --------------------- Navbar --------------------- */

.nav-container {
  margin-left: 15%;
  margin-right: 15%;
}

.main-nav {
  text-align: center;
  background-color: #FFF;
  padding: 1em;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.main-nav a {
  font-family: fortniteFont;
  font-weight: 900;
  font-size: 25px;
  color: black;
  margin: 0.5em;
  text-decoration: none;
  padding: 1.5em;
  transition: 0.3s ease;  
}

/* --------------------- Search Bar --------------------- */

.search-title {
  font-family: fortniteFont;
  text-align: center;
  margin-top: 3%;
}

/* .search-form {
  position: relative;
} */
form.search-form input[type=text] {
  padding: 1em;
  flex-grow: 2;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.search-icon {
  position: absolute;
  margin-left: 1%;
  margin-top: 2%;
  margin-left: 95%;
  float: right;
}

.search-icon:hover {
  color: grey;
}

/* --------------------- Main Boxes --------------------- */

.box-wrapper {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  
}

.itemshop-box {
  border: 1px solid grey;
  height: 500px;
  width: 400px;
  text-align: center;
}

.challenge-box {
  border: 1px solid grey;
  height: 500px;
  width: 400px;
  text-align: center;
  margin-left: 10%;;
}