* {
  box-sizing: border-box;
}

.home-container {
  margin-left: 20%;
  margin-right: 20%;
}

/* --------------------- Fonts --------------------- */
@font-face {
  font-family: fortniteFont;
  src: url('../fonts/BurbankBigCondensed-Black.otf');
}

/* --------------------- Navbar --------------------- */

.nav-container {
}

.main-nav {
  text-align: center;
  background-color: #FFF;
  padding: 1em;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.main-nav a {
  font-family: fortniteFont;
  font-weight: 900;
  font-size: 25px;
  color: black;
  margin: 0.5em;
  text-decoration: none;
  padding: 1.5em;
  transition: 0.3s ease;  
}

/* --------------------- Search Bar --------------------- */

.search-title {
  font-family: fortniteFont;
  text-align: center;
  margin-top: 3%;
}

/* .search-form {
  position: relative;
} */
form.search-form input[type=text] {
  padding: 1em;
  flex-grow: 2;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.search-icon {
  position: absolute;
  margin-left: 1%;
  margin-top: 2%;
  margin-left: 95%;
  float: right;
}

.search-icon:hover {
  color: grey;
}

/* --------------------- Main Boxes --------------------- */

/* .box-wrapper {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  
}

.itemshop-box {
  border: 1px solid grey;
  height: 500px;
  width: 400px;
  text-align: center;
}

.challenge-box {
  border: 1px solid grey;
  height: 500px;
  width: 400px;
  text-align: center;
  margin-left: 10%;;
} */

/* --------------------- Item Box --------------------- */

.item-wrapper {
  margin-top: 0;
  margin-bottom: 2%;
  margin-left: 2%;
  border: 2px solid black;
}

.item-description {
  text-align: center;
  font-family: fortniteFont;
  font-size: 10px;
  border-top: 2px solid black;
}

.row-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

/* --------------------- Backgrounds for Items --------------------- */

.legendary {
  background: rgb(252,164,0);
  background: radial-gradient(circle, rgba(252,164,0,1) 9%, rgba(144,94,1,1) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.epic {
  background: rgb(172,0,255);
  background: radial-gradient(circle, rgba(172,0,255,1) 9%, rgba(110,0,163,1) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.rare {
  background: rgb(0, 201, 255);
  background: radial-gradient(circle, rgba(0, 201, 255, 1) 9%, rgba(2, 120, 152, 1) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.uncommon {
  background: rgb(6,213,0);
  background: radial-gradient(circle, rgba(6,213,0,1) 9%, rgba(3,122,0,1) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.common {
  background-color: black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}