* {
  box-sizing: border-box;
}

.home-container {
  margin-left: 10%;
  margin-right: 10%;
}

/* --------------------- Fonts --------------------- */
@font-face {
  font-family: fortniteFont;
  src: url('../fonts/BurbankBigCondensed-Black.otf');
}

/* --------------------- Navbar --------------------- */

.nav-container {
}

.main-nav {
  text-align: center;
  background-color: #FFF;
  padding: 1em;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.main-nav a {
  font-family: fortniteFont;
  font-weight: 900;
  font-size: 25px;
  color: black;
  margin: 0.5em;
  text-decoration: none;
  padding: 1.5em;
  transition: 0.3s ease;  
}

/* --------------------- Search Bar --------------------- */

.search-wrapper {
  margin-left: 13%;
  margin-right: 13%;
}

.search-title {
  font-family: fortniteFont;
  text-align: center;
  margin-top: 3%;
}

form.search-form input[type=text] {
  padding: 1em;
  flex-grow: 2;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.search-input {
  border-right: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}


.search-icon-wrapper {
  border: 1px solid black;
  border-left: none;
  text-align: center;
  padding: 12px;
  color: black;
}

.search-icon:hover {
  color: grey;
}


/* --------------------- Item Box --------------------- */

.row-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

/* --------------------- Preview --------------------- */

.preview-row-wrapper {
  display: flex;
  margin-top: 5%;
}

.reward-wrapper-preview {
  border: 3px solid black;
  min-width: 50px;
  min-height: 50px;
  margin-left: 1%;
  margin-right: auto; 
  margin-bottom: 2%;
  border-radius: 10px;
}

.reward-name-tag {
  font-size: 15px;
  margin: 0;
}
.reward-name-preview {
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 15px;
  font-family: fortniteFont;
  margin-bottom: 0;
}

.reward-description-preview {
  font-size: 10px;
  font-family: fortniteFont;
  text-align: center;
  border-top: 2px solid black;
  margin-top: -4%;
}

.description-paragraph-preview {
  padding: 0;
  margin: 0;
}

.preview-element {
  border: 2px solid black;
  margin: 0 2%;
  padding-bottom: 1%;
}

.preview-button {
  font-family: fortniteFont;
  background-color: grey;
  color: white;
  text-align: center;
}

.preview-button-wrapper {
  text-align: center;
}

/* --------------------- Credentials --------------------- */

.home-credentials {
  margin-top: 5%;
  font-family: fortniteFont;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}


/* --------------------- Backgrounds for Items --------------------- */

.legendary {
  background: rgb(252,164,0);
  background: radial-gradient(circle, rgba(252,164,0,1) 9%, rgba(144,94,1,1) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.epic {
  background: rgb(172,0,255);
  background: radial-gradient(circle, rgba(172,0,255,1) 9%, rgba(110,0,163,1) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.rare {
  background: rgb(0, 201, 255);
  background: radial-gradient(circle, rgba(0, 201, 255, 1) 9%, rgba(2, 120, 152, 1) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.uncommon {
  background: rgb(6,213,0);
  background: radial-gradient(circle, rgba(6,213,0,1) 9%, rgba(3,122,0,1) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.common {
  background-color: black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}